{% extends "core/base_layout_club.html" %}
{%block title%}Eventos{%endblock%}
{%load static%}

{%block content%}
<li style="list-style:none;">
      <div class="container ml-4 mb-4" >
        <div style="display:center;" >
          <tr>
            {% if request.user.is_staff %}
              {% include 'eventos/includes/eventos_menu.html' %}
            {% endif %}

          </tr>
        </div>
        <div class="card-deck ml-2 mt-2">

{%for evento in evento_list %} 
    
  {% comment %} <div class="card">
    <img src="{{evento.imagen.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{evento.nombre}}</h5>
      <h6 class="card-text">{{evento.fecha}}</h6>
      <p class="card-text">{{evento.descripcion|safe}}</p>
      <p class="mb-0"><strong>Cupos: {{evento.cupos}}<br>Ubicacion: {{evento.ubicacion}}<br>Te esperamos</strong></p>
    </div>
    <div class="card-footer" style="text-align:center;">
      <a class="btn btn-primary " type=submit href="{% url 'eventos:evento' evento.id %}" >Ver detalle</a>
    </div>
  </div> {% endcomment %}
  <div class="containerEvento">
 
    <div class="card">
        <img src="{{evento.imagen.url}}" alt="Mori" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{evento.nombre}}</h5>
            <p class="card-text">{{evento.descripcion|safe}}</p>
            <p class="card-text">{{evento.fecha}}</p>
            {% if request.user.profile.tipo_cuenta_id == 1 %}
              <a href="{% url 'eventos:evento' evento.id %}" class="btn">Confirmar Asistencia</a>
            {% elif request.user.profile.tipo_cuenta_id == 2 %}
              <a href="{% url 'eventos:evento' evento.id %}" class="btn">Modificar</a>
              <a href="{% url 'eventos:evento' evento.id %}" class="btn">Eliminar</a>
            {% endif %}            
        </div>
    </div>
</div>

{% endfor %}
   </div> 
   </div>
   </li>
{%endblock%}