{% extends "core/base_layout_club.html" %}
{%block title%}Eventos{%endblock%}
{%load static%}

{%block content%}
{%for evento in evento_list %} 
    <div class="card-deck ml-2 mt-2">
  <div class="card">
    <img src="{{evento.imagen.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{evento.nombre}}</h5>
      <h6 class="card-text">{{evento.fecha}}</h6>
      <p class="card-text">{{evento.descripcion|safe}}</p>
      <p class="mb-0"><strong>Cupos: {{evento.cupos}}<br>Ubicacion: {{evento.ubicacion}}<br>Te esperamos</strong></p>
    </div>
    <div class="card-footer" style="text-align:center;">
      <a class="btn btn-primary " type=submit href="{% url 'eventos:evento' evento.id %}" >Ver detalle</a>
    </div>
  </div>
</div>
{% endfor %}
    
   
{%endblock%}