{% extends 'core/base_layout_medico.html' %}

{% block title %}Registrar consulta{% endblock %}
{% block content %}


    <form class="form-inline" method='post' action="" style='heigth:50px;'>{% csrf_token %}
        <div class="input-group mb-3 ml-4">
            <input style='width:350px;'type="text" id="id_rut" value="" name='rut' class="form-control" placeholder="Ingrese el rut del paciente, sin puntos ni guión." >
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" >Buscar</button>
            </div>
        </div>
    </form>

{% endblock %}