{% extends 'core/base_layout_medico.html' %}

{% block title %}Registrar consulta{% endblock %}
{% block content %}

    {% comment %} <form class="form-inline">
    <div class="form-group mb-2">
    <label for="rut_buscar_p" class="sr-only">Rut Paciente</label>
    <input type="text" class="form-control-plaintext" id="rut_buscar_p" value="">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form> {% endcomment %}
    <form class="form-inline" method='post' action="" enctype=multipart/form-data>{% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </form>

{% endblock %}