{%extends "core/base_layout_club.html"%}
{%block title%}Noticias{%endblock%}
{%load static%}
{%block content%}

    <li style="list-style:none;">
      <div class="container ml-4 " >
        <div style="display:center" >
          <tr>
            {% if request.user.is_authenticated %}
              {% include 'noticias/includes/noticias_menu.html' %}
            {% endif %}
            <br/>
          </tr>
        </div>
        {%for noticia in noticia_list%}
        <div class="card mb-2" style="width: 40rem;">
          <img src="{{noticia.imagen.url}}" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title">{{noticia.titulo}}</h5>
            <hr>
            <h6 class="card-subtitle">{{noticia.subtitulo}}</h6>
          </div>
          <hr>
          <div class="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a>{{noticia.cuerpo|safe}}</a></li>

            {%if noticia.url_noticia %}
              <li class="list-group-item"><a class="link" href = {{noticia.url_noticia}}>Ver fuente original de la noticia</a></li>
            {%endif%}

          {% if request.user.is_staff %}
          <li class="list-group-item">
            <a class="btn btn-primary " href="{% url 'noticias:update' noticia.id %}" >Modificar Noticia</a>
            <a class="btn btn-primary " href="{% url 'noticias:delete' noticia.id %}" >Eliminar Noticia</a>
          </li>
          {% endif %}
          </ul>
          </div>
        </div>
        

        {% endfor %}
        </div> 
      </li>
{%endblock%}

