{%extends "core/base_layout_club.html"%}
{%block title%}Noticias{%endblock%}
{%load static%}
{%block content%}
    <li style="list-style:none;">
      <div class="container ml-4 " >
        <div style="display:center;" >
          <tr>
            {% if request.user.is_staff %}
              {% include 'noticias/includes/noticias_menu.html' %}
            {% endif %}
            <br/>
          </tr>
        </div>
        {%for noticia in noticia_list%}
       <div class="blog-card">
    <div class="meta">
           <div class="photo" style="background-image: url({{noticia.imagen.url}})"></div>
      <ul class="details">
        <li class="author"><a href="#">Joseto MWA </a></li>
        <li class="date">25 Noviembre, 2019</li>
       
      </ul>
    </div>
    <div class="description">
      <h1>{{noticia.titulo}}</h1>
      <h2>{{noticia.subtitulo}}</h2>
      <p>{{noticia.cuerpo|safe}}</p>
      <p class="read-more">
         {%if noticia.url_noticia %}
        <a href="{{noticia.url_noticia}}">Fuente</a>
          {%endif%}        
          {% if request.user.is_staff %}
         				<a href="{% url 'noticias:update' noticia.id %}">Modificar</a>
                <a href="{% url 'noticias:delete' noticia.id %}">Eliminar</a>
          {% endif %}
      </p>
    </div>
  </div>
        {% endfor %}
        </div> 
      </li>
{%endblock%}

