{%extends 'core/base_layout_club.html'%}
{%block title%}Lista de reservas{%endblock%}
{%block content%}
<div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Basic Table</h4>
                  <p class="card-description">
                    Add class <code>.table</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Codigo reserva</th>
                          <th>Miembro</th>
                          <th>Producto reservado</th>
                          <th>Cantidad reservada (gramos)</th>
                          <th>Precio Total</th>
                          <th>Estado de la reserva</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for reservas in reservas_list %}
                            <tr>
                            <th scope="row">{{reservas.id}}</th>
                            <td>{{reservas.miembro.nombres}}</td>
                            <td>{{reservas.producto.nombre}}</td>
                            <td>{{reservas.cantidad_reservada}}</td>
                            <td>{{reservas.precio }}*{{ reservas.cantidad_reservada}}</td>
                            {% if reserva.estado == 'P' %}
                            <td>Pendiente</td>
                            {% elif reserva.estado == 'E' %}
                            <td>Entregado</td>
                            {% elif reserva.estado == 'C' %}
                            <td>Cancelado</td>
                            {% endif %}                
                            <td><a href="{% url 'miembros:miembro' miembro.id %}" title="Ver Detalle">🔎</a>
                            <a href="{% url 'miembros:update' miembro.id %}" title="Modificar miembro">✍</a>
                            <a href="{% url 'miembros:delete' miembro.id %}" title="Eliminar miembro">❌</a></td>
                            </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{%endblock%}