{%extends 'productos/producto_detail.html'%}
{%block reserva%}
<form method="POST">{% csrf_token %}
    <div class="row">
    <div class="col-md-6">
        <div class="form-group row">
        <label class="col-sm-3 col-form-label">Cantidad a reservar</label>
        <div class="col-sm-9">
            {{form.cantidad_reservar}}
            {{form.producto}}
            {{form.user}}
            {{form.estado}}
            {% if form.cantidad_reservar.errors %}
            <ul>
                {%for error in form.cantidad_reservar.errors%}
                <li style="list-style:none;" class="text-danger">{{form.cantidad_reservar.errors}}</li>
                {%endfor%}
            </ul>
            {%endif%}
            {% if form.producto.errors %}
            <ul>
                {%for error in form.producto.errors%}
                <li style="list-style:none;" class="text-danger">{{form.producto.errors}}</li>
                {%endfor%}
            </ul>
            {%endif%}
            {% if form.miembro.errors %}
            <ul>
                {%for error in form.miembro.errors%}
                <li style="list-style:none;" class="text-danger">{{form.miembro.errors}}</li>
                {%endfor%}
            </ul>
            {%endif%}
        </div>
        </div>
    </div>
    <div class = "text-center">
        <input type="submit" class="btn btn-primary btn-rounded" value="Reservar" />
    </div>
    </div>
</form>