{% extends 'core/base_layout_club.html' %}
{% load static %}
{% block title %}{{producto.nombre}}{% endblock %}
{% block content %}

<div class="card mb-4 ml-3 mt-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{producto.imagen.url}}" class="card-img" alt="..." style="height:400px; width:300px;" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre}}</h5>
        <p class="card-text">{{producto.descripcion|safe}}</p>
        <p class="card-text"><strong>{{producto.proporcion}}</strong></p>
        <p class="card-text"><strong>Stock disponible: {{producto.stock}} gramos.</strong></p>
        {% if request.user.profile.tipo_cuenta_id == 1 %}
          <form method="POST" class="form-inline">{% csrf_token %}
            {{form.producto}}
            {{form.usuario}}
            {{form.estado}}
            {{form.precio_total}}
          <div class = "row">
            {{form.cantidad_reservar}}
            
            <input type="submit" class="btn btn-primary btn-rounded ml-2" value="Reservar" />
          </div>
        {%endif%}
        <p class="card-text"><small class="text-muted">Nota:Usted, {{m.nombres}} puede reservar un máximo de {{cmax}} gramos.</small></p>
        </form>
        {% if form.cantidad_reservar.errors %}
          <ul>
            {%for error in form.cantidad_reservar.errors%}
              <li style="list-style:none;" class="text-danger">{{form.cantidad_reservar.errors}}</li>
            {%endfor%}
          </ul>
        {%endif%}
      </div>
    </div>
  </div>
</div>
{% endblock %}
