{% extends "core/base_layout_club.html" %}

{%block title%}Inicio{%endblock%}
{%load static%}
{%block content%}
    <!-- Cabecera -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/logodispensario.png'%}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Sorprendete con nuestra Medicina</span>
              <span class="section-heading-lower">Te gustará</span>
            </h2>
            <p class="mb-3">Contamos con expertos en el área del cannabis para entregar los mejores resultados...
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="/productos">Ver Productos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Sobre Nosotros</span>
                <span class="section-heading-lower"><strong>  Compromiso Garantizado </strong></span>
              </h2>
              <p class="mb-0">La Corporación de usuarios de plantas medicinales Almannabis es una organización de derecho privado sin fin de lucro, nace ante la evidente necesidad de contar con alternativas viables para tratamientos medicinales herbales y para facilitar el acceso a mejorar la calidad de vida de cada uno de sus asociados. Nuestro objetivo, cuando de dispensar medicina herbal se trata, es que esta sea medicina de calidad, económica, 100% orgánica, y que su cultivo y dispensación se enmarque dentro de la ley.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{%endblock%}