<!DOCTYPE html>
<html lang="zxx">
<head>
{%load static%}
	<title>MWA - Medical Weed App</title>
	<meta charset="UTF-8">
	<meta name="description" content="EndGam Gaming Magazine Template">
	<meta name="keywords" content="endGam,gGaming, magazine, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="{% static 'core/img2/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'core/css2/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css2/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css2/slicknav.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css2/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css2/magnific-popup.css' %}"/>
	<link rel="stylesheet" href="{% static 'core/css2/animate.css' %}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{% static 'core/css2/style.css' %}"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section" >
		<div class="header-warp">
			
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="home.html" class="site-logo">
					<img class="logo-test" src="{% static 'core/img2/logoMwa.jpg' %}" alt="" >
				</a>
				<nav class="top-nav-area w-100">
					<div class="user-panel">
						<a href="{%url 'login'%}">Ingresar</a> / <a href="{% url 'signup' %}">Registrarse</a>
					</div>
					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="iniciohtml"><i class="fa fa-home" style="font-size:24px"></i></a></li>
						<li><a href="review.html">Novedades</a></li>
						<li><a href="#Mision">Valores</a></li>
						<li><a href="blog.html">Colaboradores</a></li>
						<li><a href="productos.html">Contacto</a></li>						
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section overflow-hidden">
		<div id="inicio"class="hero-slider owl-carousel">
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center"  data-setbg="{% static 'core/img2/fondo.jpg' %}">
				<div class="container">
					<h1>Forma parte de la medicina Cannábica!</h1>
					<p>Medical Weed App.</p>
					<a href="#" class="site-btn">Unete...<img src="{% static 'core/img2/icons/double-arrow.png' %}" alt="#"/></a>
				</div>
			</div>
			 
		</div>
	</section>
	<!-- Hero section end-->


	<!-- Intro section -->
	<section class="intro-section">
		<div class="container" id='Mision'>
			<h3 style="text-align:center;">Nuestros valores<h3>
			
			<hr>
			<br>			
			<div class="card-deck">
				<div class="card">
					
					<div class="card-body">
					<h5 class="card-title">Misión</h5>
					<p class="card-text">Como misión nos imponemos que a través de la innovación podamos aumentar
					la seguridad y el acceso al cannabis de calidad en todo chile, ofreciendo 
					una calidad constante en un valor competitivo a través de una diversa red
					y variados canales de distribución priorizando siempre la seguridad del 
					consumidor y entendiendo el impacto social de este.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Medical Weed App</small>
					</div>
				</div>
				<div class="card">
					
					<div class="card-body">
					<h5 class="card-title">Visión</h5>
					<p class="card-text">Nuestra intención es ayudar a los asociados a recibir un 
					tratamiento de calidad y apoyar en la búsqueda de la mejoría de su salud física,
					 mental y espiritual en diversos ámbitos de sus vidas, siendo una herramienta 
					 disponible para quien decida usar cannabis para su uso personal, exclusivo y 
					 próximo en el tiempo con un tratamiento médico.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Medical Weed App</small>
					</div>
				</div>
				<div class="card">
					
					<div class="card-body">
					<h5 class="card-title">Objetivo</h5>
					<p class="card-text">Nuestra intención es dar acceso a una materia prima de 
					calidad con una trazabilidad y estandarización en los procesos de cultivo. 
					Otorgar atención especializada, individual y grupal, realizar asesorías y 
					transferencias tecnológicas, realizar mediciones e investigaciones para ver la 
					efectividad de los tratamientos y dosis aplicadas a los usuarios.</p>
					</div>
					<div class="card-footer">
					<small class="text-muted">Medical Weed App</small>
					</div>
				</div>
				</div>
					
			</div>		
		</div>
	</section>
	<!-- Intro section end -->


	<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="section-title text-white">
						<h2>Últimas Noticias</h2>
					</div>
					<ul class="blog-filter">
						<li><a href="#">Diferentes</a></li>
						<li><a href="#">Categorias</a></li>
					</ul>
					<!-- Blog item -->
				

					<!-- Blog item -->
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="./img/blog/3.jpg" alt="">
						</div>
						<div class="blog-text text-box text-white">
							<div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
							<h3>Titulo noticias!</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consecte-tur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....</p>
							<a href="#" class="read-more">Ver más  <img src="{% static 'core/img2/icons/double-arrow.png' %}" alt="#"/></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- Blog section end -->





	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
		
			<a href="#" class="footer-logo">
				<img src="{% static 'core/img2/logo-MWA.jpg' %}" alt="">
			</a>
			<ul class="main-menu footer-menu">
				<li><a href="">Sobre Nosotros</a></li>
				<li><a href="">Donaciones</a></li>
				
			</ul>
			<div class="footer-social d-flex justify-content-center">
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>

			</div>
			<div class="copyright"><a href="">MWA</a> 2019 @ Todos los derechos reservados</div>
		</div>
	</footer>
	<!-- Footer section end -->


	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'core/js2/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'core/js2/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/js2/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'core/js2/owl.carousel.min.js' %}"></script>
	<script src="{% static 'core/js2/jquery.sticky-sidebar.min.js' %}"></script>
	<script src="{% static 'core/js2/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'core/js2/main.js' %}"></script>

	</body>
</html>
