{% extends 'core/base_layout_inicio.html' %}

	{% block title %}Inicio MWA {% endblock %}

	{% block content %}
	<!-- Intro section -->
	<section class="intro-section">
		<div class="container" id='Mision'>
			<h3 style="text-align:center;">Nuestros valores<h3>
			
			<hr>
			<br>			
			<div class="card-deck">
				<div class="card">
					
					<div class="card-body">
					<h5 class="card-title">Misión</h5>
					<p class="card-text">Como misión nos imponemos que a través de la innovación podamos aumentar
					la seguridad y el acceso al cannabis de calidad en todo chile, ofreciendo 
					una calidad constante en un valor competitivo a través de una diversa red
					y variados canales de distribución priorizando siempre la seguridad del 
					consumidor y entendiendo el impacto social de este.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Medical Weed App</small>
					</div>
				</div>
				<div class="card">
					
					<div class="card-body">
					<h5 class="card-title">Visión</h5>
					<p class="card-text">Nuestra intención es ayudar a los asociados a recibir un 
					tratamiento de calidad y apoyar en la búsqueda de la mejoría de su salud física,
					 mental y espiritual en diversos ámbitos de sus vidas, siendo una herramienta 
					 disponible para quien decida usar cannabis para su uso personal, exclusivo y 
					 próximo en el tiempo con un tratamiento médico.</p>
					</div>
					<div class="card-footer">
						<small class="text-muted">Medical Weed App</small>
					</div>
				</div>
				<div class="card">
					
					<div class="card-body">
					<h5 class="card-title">Objetivo</h5>
					<p class="card-text">Nuestra intención es dar acceso a una materia prima de 
					calidad con una trazabilidad y estandarización en los procesos de cultivo. 
					Otorgar atención especializada, individual y grupal, realizar asesorías y 
					transferencias tecnológicas, realizar mediciones e investigaciones para ver la 
					efectividad de los tratamientos y dosis aplicadas a los usuarios.</p>
					</div>
					<div class="card-footer">
					<small class="text-muted">Medical Weed App</small>
					</div>
				</div>
				</div>
					
			</div>		
		</div>
	</section>
	<!-- Intro section end -->

	{% endblock %}
	


